Лабораторная работа по теме “Фреймворки Python для ML(CatBoost,scikitlearn)”

In [107]:

pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.10/dist-packages (from catboost) (0.20.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from catboost) (3.7.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.23.5)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.10/dist-packages (from catboost) (1.5.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from catboost) (1.11.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from catboost) (5.15.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from catboost) (1.16.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24->catboost) (2023.3.post1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (0.12.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (4.43.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->catboost) (3.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->catboost) (8.2.3)

1.Создайте датасет из не менее чем 2000 записей,содержащий данные о среднем балле студентов(от 0 до 99) по 6 предметам и оценка итоговой лабораторной работы(удовлетворительно,хорошо,отлично).Названия предметов,средний балл,время решения итоговой лабораторной работы задается произвольно на ваше усмотрение.

In [108]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Создаем датафрейм с рандомными оценками
subjects = ['Mathematics', 'Physics', 'Chemistry', 'Biology', 'History', 'Computer Science']
grades = np.random.randint(0, 100, size=(2000, 6))
lab_grade = np.random.choice(['C', 'B', 'A'], size=2000)

# Оценка по лабораторной работе
data = pd.DataFrame(grades, columns=subjects)
data.insert(6,'Grade', lab_grade)

In [109]:
print(data)

      Mathematics  Physics  Chemistry  Biology  History  Computer Science  \
0              11       97         43       33        6                 8
1              67       11         74       47       29                84
2              44        2         23       90       65                87
3               7       38         16       78       31                48
4              75       21         35       35        0                39
...           ...      ...        ...      ...      ...               ...
1995           49       46         83        6       50                44
1996            9       68         30       45       16                78
1997           31       72         31       60       53                60
1998           29        9         90       47        7                92
1999            1       36         54       78       42                96

     Grade
0        C
1        C
2        A
3        A
4        B
...    ...
1995     C
1996     C
1997     C
1998     B
1999     A

[2000 rows x 7 columns]

In [110]:
# Оценки по лабараторным в кат. данные
le = LabelEncoder()
le.fit(data.Grade)
data.Grade = le.transform(data.Grade)
data.head()

   Mathematics  Physics  Chemistry  Biology  History  Computer Science  Grade
0           11       97         43       33        6                 8      2
1           67       11         74       47       29                84      2
2           44        2         23       90       65                87      0
3            7       38         16       78       31                48      0
4           75       21         35       35        0                39      1

2. Разбейте датасет на тестовую и обучающую выборку.
3. Выберите лучшие 3 признака для обучения.

In [111]:
# Топ 3 по grade
corr = data.corr()
corr.style.background_gradient(cmap='PuBu', low=0, high=0, axis=0, subset=None)

In [112]:
# Деление датасета на тестовую и обучающую выборки
from sklearn.model_selection import train_test_split
x_train1, x_test1, y_train1, y_test1 = train_test_split(data[['Mathematics', 'Chemistry', 'Computer Science']], data.Grade, test_size=0.2)

4. Проведите обучение модели,результатом должна быть сохраненная модель

In [113]:
from catboost import CatBoostClassifier

model = CatBoostClassifier(iterations=500, depth=4, learning_rate=0.1)
model.fit(x_train1, y_train1, silent=True)

5. Проведите тестирование модели,результатом должно быть число-точность модели на тестовой выборке.

In [114]:
accuracy = model.score(x_test1, y_test1)
print(f'точность: {accuracy*100}%')

точность: 33.0%

6. Реализуйте функцию,которая на вход принимает оценку студента по 6 предметам и возвращает прогноз оценки.

In [115]:
def get_predict_grade(math, phis, chem, bio, hist, comsc):
  subjects_test = ['Mathematics', 'Chemistry', 'Computer Science']
  grades_test = np.array([[math, chem, comsc]])


# добавление столбца с оценкой по лабораторной работе
  data_test = pd.DataFrame(grades_test, columns=subjects_test)

  pr = model.predict(data_test)
  grade =''
  match pr:
    case 2:
      grade='C'
    case 1:
      grade ='B'
    case 0:
      grade='A'

  return grade

In [116]:

# Результат работы функции
print(get_predict_grade(70,90,56,12,65,100))

B